header {
  margin: 0 auto;
  width: 95%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0rem 1rem;
    width: 15rem;
    height: 3.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    justify-content: center;
    transition: 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    svg {
      margin-right: 1rem;
      font-size: 2.5rem;
    }
  }
}
